@import "_nib"

/*Font families for the entire site*/
headFont = 'Julius Sans One', sans-serif
bodyFont = 'Crimson Text', serif

html
  font-size: 1rem
  //background: url(/img/seattle2.jpg) no-repeat center center fixed
  //background-size: cover

.header
  vertical-margin = 5em
  margin-top:    vertical-margin
  margin-bottom: vertical-margin

.header-title
  font-family: headFont

.header-caption
  font-family: bodyFont

body
  text-align: center
  font-family: bodyFont
  //color: white

h1, h2, h3, h4, h5
  font-family: headFont

.nav-item.active > a
  color: black

.project
  margin-bottom: 50px


.spaced-link
  margin-right: 1em

  

