doctype
html
  head
    link(rel="stylesheet" href="/css/skeleton/skeleton.css")
    link(rel="stylesheet" href="/css/main.css")
  body
    != partial("_includes/nav")
    .container
      h1= title
      != yield
