.container
  .row.nav
    != partial("_includes/nav")

  .row.header
    .u-full-width
      h2.header-title Martin Wozniewicz
      p.header-caption Developer based in Seattle, WA

  .row.contact
    .u-full-width
      h4 Contact Me
      a(href="http://github.com/mpwoz").spaced-link Github
      a(href="www.linkedin.com/in/mpwoz").spaced-link LinkedIn
      a(href="mailto:martin.woz@gmail.com").spaced-link Email


