
.container
  .row.nav
    != partial("_includes/nav")

  .row.header
    h2.header-title Projects
    p.header-caption A collection of my side projects over the years.

  each project, index in public.projects._data
    .project
      .row
        .u-full-width
          h4= project.title
          div= project.desc
      .row
        if project.live
          a(href=project.live).spaced-link See it live! 
        if project.github
          a(href="http://github.com/#{project.github}").spaced-link Source

