
.row
  h4 Projects

.row
  each project, index in public.projects._data
    div.project
      h5= project.title
      div= project.desc
      if project.live
        .link
          a(href=project.live) See it live! 
      if project.github
        .link
          a(href="http://github.com/#{project.github}") Source

