.one-third.column
  a.nav-item(href="/") Home
.one-third.column
  a.nav-item(href="/projects.html") Projects
.one-third.column
  a.nav-item(href="/static/Martin_Wozniewicz_Resume.pdf", target="_blank") Resume
