.container
  .row
    .nav-group
      a.nav-item(href="/") Home
      a.nav-item(href="/projects.html") Projects
      a.nav-item(href="/static/Martin_Wozniewicz_Resume.pdf", target="_blank") Resume
