.one-third.column.nav-item(class=current.path[0] == "index" ? "active" : "")
  a(href="/") Home
.one-third.column.nav-item(class=current.path[0] == "projects" ? "active" : "")
  a(href="/projects.html") Projects
.one-third.column.nav-item
  a(href="/static/Martin_Wozniewicz_Resume.pdf", target="_blank") Resume

