.container
  .row
    .nav-group
      a.nav-item(href="/") Martin Wozniewicz
      a.nav-item(href="/projects") Projects
      a.nav-item(href="/about") About
      a.nav-item(href="/static/Martin_Wozniewicz_Resume.pdf", target="_blank") Resume
