.row.header
  .sixteen.columns
    ul.nav-links
      li
        a(href="/") Martin Wozniewicz
      li
        a(href="/projects") Projects
      li
        a(href="/static/Martin_Wozniewicz_Resume.pdf") Resume
