#social ul {
margin-top: 20px;
}

#social ul li {
list-style: none;
padding: 0 0 0 12px;
float: left;
}

#social ul li:first-of-type {
padding: 0 0 0 0;
}

#social ul li a {
text-indent: -9999px;
font-size: 0;
line-height: 0;
overflow: hidden;
height: 36px;
width: 36px;
border: 0;
display: block;
}

#social li#twitter a {
background: url(Images/social/twitter.png) no-repeat;
}
#social li#twitter a:hover {
background: url(Images/social/twitter-hover.png) no-repeat;
}

#social li#email a {
background: url(Images/social/email.png) no-repeat;
}
#social li#email a:hover {
background: url(Images/social/email-hover.png) no-repeat;
}

#social li#facebook a {
background: url(Images/social/facebook.png) no-repeat;
}
#social li#facebook a:hover {
background: url(Images/social/facebook-hover.png) no-repeat;
}

#social li#gplus a {
background: url(Images/social/gplus.png) no-repeat;
}
#social li#gplus a:hover {
background: url(Images/social/gplus-hover.png) no-repeat;
}

#social li#linkedin a {
background: url(Images/social/linkedin.png) no-repeat;
}
#social li#linkedin a:hover {
background: url(Images/social/linkedin-hover.png) no-repeat;
}
